.h{
    background: #ff4d4d;
    padding: 10px;
    border: 2px solid black;
    color: blue;
    text-align: center;
}

#b{
    color: black;
    
}

#d{
    height: 530px;
    width: 400px;
    background: #dcdde1;
    border: 3px solid black;
    border-radius: 25px;
    margin: 0 auto;
}

#form{
    color: black;
    margin: 5px;
    text-align: center;
    padding: 3px;
    height: 15px;
    width: 380px;
}

.img{
    height: 200px;
    width: 200px;
}

#button{
    margin: 5px;
    text-align: center;
    padding: 2px;
    height: 30px;
    width: 380px;
    background: yellow;
    border: 3px solid black;
    border-radius: 25px;
}


